<div class="container">
    <h1 class="text-center">Admin Panel</h1>
    <%= render 'admin/nav_links' %>
</div>

<div id="movies">
  <% @movies.each do |movie| %>
    <%= render movie %>
    <p>
      <%= link_to "Show this movie", movie %>
    </p>
  <% end %>
</div>

<%= link_to "New movie", new_movie_path %>

