<div>
  <p>
    <strong>Login:</strong>
    <%= @user.login %>
  </p>
  <p>  
    <% if @user.avatar.present? %>
      <%= image_tag( @user.avatar, height: '120px', class: "rounded-circle") %>
    <% else %>
      <class="rounded-circle" src="/assets/images/default_avatar.jpg">
    <% end %>
  </p>
  

  <p>
    <strong>About me:</strong>
    <%= @user.about_me %>
  </p>

</div>

<%= render :template => "admin/edit_user" %>

