<div class="container">
    <h1 class="text-center">Admin Panel</h1>
    <%= render 'admin/nav_links' %>
</div>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", admin_user_path(user) %>
    </p>
  <% end %>
</div>
